html, body {
    margin: 0;
    padding: 0;
}
header, nav, aside, main, footer, article, figure, p {
    min-height: 20px;
    background: #eee;
    transition: background 0.7s ease;
    border: 1px solid #ddd
}

header:hover, 
nav:hover, 
aside:hover, 
main:hover, 
footer:hover, 
article:hover, 
figure:hover, 
p:hover {
    background: #ddd;
}

body {
    display: grid;
    grid-template-columns: 5vw auto auto;
    grid-template-rows: 50px 50px auto 70px;
    grid-template-areas: 
        'header header header'
        'nav nav nav'
        'menu content content'
        'footer footer footer';
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: menu;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}