header, nav, aside, main, footer, article, figure, p {
    min-height: 20px;
    margin: 5px;
}

header, footer {
    background: #0c0;
}

nav {
    background: #ee0;
}

aside, main {
    background: #ea0;
}

article {
    background: #5ee;
}

figure, p {
    background: #c7c;
}