header, nav, aside, main, footer, article, figure, p {
    min-height: 20px;
    margin: 5px;
}

body {
    display: grid;
    grid-template-areas: 
        'header header header'
        'nav nav nav'
        'menu content content'
        'footer footer footer';
}

header {
    grid-area: header
}

nav {
    grid-area: nav;
}

aside {
    grid-area: menu;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}

header, footer {
    background: #0c07;
}

nav {
    background: #ee07;
}

aside, main {
    background: #ea07;
}

article {
    background: #5ee7;
}

figure, p {
    background: #c7c7;
}